@import url('https://fonts.google.com/share?selection.family=Pacifico|Public+Sans:ital,wght@0,100..900;1,100..900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Pacifico', sans-serif;
  background-color: #ebebeb;
}