
  .messageItem {
    margin-bottom: 10px;
  }
  

  .messageList {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  /* Optional: Always show the scrollbar, even if not needed */
  .messageList::-webkit-scrollbar {
    width: 8px;
  }
  
  .messageList::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .messageList::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .messageList::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  