.textFieldWrapper {
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #f0f0f0;
}
.form {
  display: flex;
}

.textarea {
  width: 100%;
  border: none;
  background-color: transparent; 
  border-color: none;
  height: 60px;
  resize: none;
  padding: 8px;
  font-size: 14px;
  box-sizing: border-box;

}

.textarea:focus {
  border: 1px solid rgba(54, 213, 91, 0.771); 
  border-radius: 10px;
  outline: none;
}

.sendButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}
